{% extends 'newPages/__base__.html' %}

{#{% block title %}{{ blog.name }}{% endblock %}#}
{% block title %} blog.name {% endblock %}

{% block beforehead %}

<script>

var comment_url = '/api/blogs/{{ blog.id }}/comments';

$(function () {
    var $form = $('#form-comment');
    $form.submit(function (e) {
        e.preventDefault();
        $form.showFormError('');
        var content = $form.find('textarea').val().trim();
        if (content==='') {
            return $form.showFormError('请输入评论内容！');
        }
        $form.postJSON(comment_url, { content: content }, function (err, result) {
            if (err) {
                return $form.showFormError(err);
            }
            refresh();
        });
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
        <article class="uk-article">
{#            <h2>{{ blog.name }}</h2>#}
            <h2>blog.name </h2>
{#            <p class="uk-article-meta">发表于{{ blog.created_at|datetime }}</p>#}
            <p class="uk-article-meta">发表于 blog.created_at|datetime </p>
{#            <p>{{ blog.html_content|safe }}</p>#}
            <p>舍三人去中关村鼎好大厦买电脑，二楼联想专卖(左边是一家戴尔)感觉被坑。开始三个人各看了一台不同的，看到旁边有人直接买了，觉得可以，讲价从5千三到4800三人付款准备买。等待提货时他说我们那个只能装windows10的RTC版本(并不知道是什么)，像做文档之类不能和其他系统兼容(发给别人文档可能乱码)，然后软件只能装应用商店里的，有的要付费。我们一听不想要了，他说退款可以，但要等十五天，说还要扣17％税，打发票，只能尽量给我们退全额。我们说等不了十五天，他就给我们推荐Thinkpad E565,说这个可以，巴拉巴拉一大堆，4G内存，500G硬盘，4G双显，他说可以给我们升到8G，价格5600，最后给我们便宜到5000.一位舍友坚持退要扣17％大概800多，就单独谈，最后说换回原来的不怕他就推诿没货，感觉就是把不可能4800的先推给你，然后说用不了让你买其他，又给退款设置障碍。最后两个人买了thinkpad E565,5000，另一个坚持退货了最终因店家不给货成功了！回来查京东苏宁感觉不值这个价格，这是不是被骗了，还不给发票，要发票要加价！怎么办，还有救吗！大神指点，非常想退！
--
</p>
        </article>

        <hr class="uk-article-divider">

{#    {% if __user__ %}#}
        <h3>发表评论</h3>

        <article class="uk-comment">
            <header class="uk-comment-header">
{#                <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{__user__.image }}">#}
                <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="http://localhost:8000/static/img/user.png">
                <h4 class="uk-comment-title"> __user__.name </h4>
            </header>
            <div class="uk-comment-body">
                <form id="form-comment" class="uk-form">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-comment"></i> 发表评论</button>
                    </div>
                </form>
            </div>
        </article>

        <hr class="uk-article-divider">
{#    {% endif %}#}

        <h3>最新评论</h3>

        <ul class="uk-comment-list">
{#            {% for comment in comments %}#}
            <li>
{#                <article class="uk-comment">#}
{#                    <header class="uk-comment-header">#}
{#                        <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ comment.user_image }}">#}
{#                        <h4 class="uk-comment-title">{{ comment.user_name }} {% if comment.user_id==blog.user_id %}(作者){% endif %}</h4>#}
{#                        <p class="uk-comment-meta">{{ comment.created_at|datetime }}</p>#}
{#                    </header>#}
{#                    <div class="uk-comment-body">#}
{#                        {{ comment.html_content|safe }}#}
{#                    </div>#}
{#                </article>#}
            <article class="uk-comment">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="http://localhost:8000/static/img/user.png">
                        <h4 class="uk-comment-title">comment.user_name</h4>
                        <p class="uk-comment-meta">comment.created_at|datetime </p>
                    </header>
                    <div class="uk-comment-body">
                        very good
                    </div>
                </article>
            </li>
{#            {% else %}#}
            <p>还没有人评论...</p>
{#            {% endfor %}#}
        </ul>

    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-box">
            <div class="uk-text-center">
                <img class="uk-border-circle" width="120" height="120" src="{{ blog.user_image }}">
                <h3>{{ blog.user_name }}</h3>
            </div>
        </div>
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-link"></i> <a href="#">编程</a></li>
                <li><i class="uk-icon-link"></i> <a href="#">思考</a></li>
                <li><i class="uk-icon-link"></i> <a href="#">读书</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
