<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/uikit/js/uikit.min.js"></script>

    <!-- Codemirror and marked dependencies -->
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <script src="/static/codemirror/mode/markdown/markdown.js"></script>
    <script src="/static/codemirror/addon/mode/overlay.js"></script>
    <script src="/static/codemirror/mode/xml/xml.js"></script>
    <script src="/static/codemirror/mode/gfm/gfm.js"></script>
    <script src="/static/js/marked/marked.min.js"></script>

    <!-- HTML editor CSS and JavaScript -->
    <link rel="stylesheet" href="/static/uikit/css/components/htmleditor.css">
    <script src="/static/uikit/js/components/htmleditor.js"></script>
</head>
<body>
<textarea data-uk-htmleditor>...</textarea>

</body>
</html>