{#{% include 'header.html' %}#}
{% extends '__base__.html' %}

{% block content %}
<!-- COLUMNS -->
	<div id="section" class="box">
		<div class="button black"> {{ category.name }} </div>

		<div style="border-bottom: 1px dotted #CCC;margin: 10px 0 0 0"></div>
		<ul class="articles box">
                {% for article in article_list %}
                    <li>
					<h2><a href="{% url 'article' %}?id={{ article.id }}">{{ article.title }}</a></h2>

					<div class="article-info box">

						<p class="f-right"><a href="{% url 'article' %}?id={{ article.id }}" class="comment">评论 ({{ article.comment_set.all.count }})</a></p>

						<p class="f-left">{{ article.date_publish | date:'Y-m-d H:i:s' }} | 分类 {{ article.category.name }} </p>

					</div> <!-- /article-info -->

					<p>{{ article.desc }}</p>
					{% if request.user.is_authenticated %}<p class="more"><a href="#">删除&raquo;</a></p>{% endif %}
				    </li>
                {% endfor %}

{#				<li>#}
{#					<h2><a href="#">博客的title</a></h2>#}
{##}
{#					<div class="article-info box">#}
{##}
{#						<p class="f-right"><a href="#" class="comment">评论 (15)</a></p>#}
{##}
{#						<p class="f-left">2014-3-19 15:50:50 | 分类 历史迷雾 </p>#}
{##}
{#					</div> <!-- /article-info -->#}
{##}
{#					<p>This is a free web template by  This work is distributed under theCreative Commons Attribution 3.0 License, which means that you are free to adapt, copy, distribute and transmit the work. You must attribute the work in the manner specified by the author or licensor (don´t remove our backlink from footer...#}
{#					</p>#}
{#					<p class="more"><a href="#">删除&raquo;</a></p>#}
{#				</li>#}
{#				<li>#}
{#					<h2><a href="#">博客的title</a></h2>#}
{##}
{#					<div class="article-info box">#}
{##}
{#						<p class="f-right"><a href="#" class="comment">评论 (15)</a></p>#}
{##}
{#						<p class="f-left">2014-3-19 15:50:50 | 分类 历史迷雾 </p>#}
{##}
{#					</div> <!-- /article-info -->#}
{##}
{#					<p>This is a free web template by  This work is distributed under theCreative Commons Attribution 3.0 License, which means that you are free to adapt, copy, distribute and transmit the work. You must attribute the work in the manner specified by the author or licensor (don´t remove our backlink from footer...#}
{#					</p>#}
{#					<p class="more"><a href="#">删除&raquo;</a></p>#}
{#				</li>#}

			</ul>
            <div class="pagination box">
                    {% if article_list.has_previous %}
                        <a href="?page=
                                {{ article_list.previous_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}{% if request.GET.cid %}&cid={{ request.GET.cid }}{% endif %}">&laquo;上一页</a>
                    {% else %}
                        <a style="display: none">&laquo;上一页</a>
                    {% endif %}

                    {% for page_no in article_list.page_range_ext %}
                        <a href="#" {% if page_no == article_list.number %}class="current"{% endif %}>{{ page_no }}</a>
                    {% endfor %}

            {#				<p class="f-right">#}
            {#					<a href="#" class="current">1</a>#}
            {#					<a href="#">2</a>#}
            {#					<a href="#">3</a>#}
            {#					<a href="#">4</a>#}
            {#					<a href="#">5</a>#}
            {#					<a href="#">6</a>#}
            {#					<a href="#">7</a>#}
            {#					<a href="#">下一页 &raquo;</a>#}
            {#				</p>#}

                    {% if article_list.has_next %}
                        <a href="?page={{ article_list.next_page_number }}{% if request.GET.year %}&year={{ request.GET.year }}{% endif %}{% if request.GET.month %}&month={{ request.GET.month }}{% endif %}{% if request.GET.cid %}&cid={{ request.GET.cid }}{% endif %}">下一页 &raquo;</a>
                    {% else %}
                        <a style="display: none">下一页 &raquo;</a>
                    {% endif %}

                    <p class="f-left"> {{ article_list.number }} / {{ article_list.paginator.num_pages }} 页</p>

            </div>
	</div>


{% endblock %}
{#{% include 'footer.html' %}#}