{% extends '__base__.html' %}
{% load myfilter %}

{% block beforehead %}
    <link rel="stylesheet" href="/static/uikit/css/uikit.min.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/uikit/js/uikit.min.js"></script>

    <!-- Codemirror and marked dependencies -->
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <script src="/static/codemirror/mode/markdown/markdown.js"></script>
    <script src="/static/codemirror/addon/mode/overlay.js"></script>
    <script src="/static/codemirror/mode/xml/xml.js"></script>
    <script src="/static/codemirror/mode/gfm/gfm.js"></script>
    <script src="/static/js/marked/marked.min.js"></script>

    <!-- HTML editor CSS and JavaScript -->
    <link rel="stylesheet" href="/static/uikit/css/components/htmleditor.css">
    <script src="/static/uikit/js/components/htmleditor.js"></script>
    <style type="text/css"></style>

{% endblock %}


{% block content %}
<div id="section" class="box">
    <h2>{{ article.title | safe }}</h2>

    <div>
        {% if request.user.is_authenticated and request.user.username == article.user.username %}

            <p class="f-right"><a href="#" class="comment">编辑</a></p>
        {% endif %}
        <p class="f-left">{{ article.date_publish | date:"Y-m-d H:i:s" }} | 分类 {{ article.category.name }} </p>
    </div>

    <div style="border-bottom: 1px dotted #CCC; height:50px;"></div>
    <div style="padding:10px">
        {{ article.content | custom_markdown | safe}}
    </div>
    <div style="border-bottom: 1px dotted #CCC;"></div>
    <h3>评论:</h3>

    {% if not comment %}
        （当前博文还没有评论哦！来留下点足迹吧）
    {% endif %}

    {% for comment in comment_list %}
        <div style="border-bottom: 1px dotted #CCC;">
        <div style="padding:0 0 0 10px">
            <div>
                <a href="{% url 'reply_comment' %}?comment_id={{ comment.id }}&article_id={{ comment.article.id }}" style="float: right"> 回复 </a>
                <a href="#">{{ comment.user.username }}说：</a>
            </div>
            {{ comment.content | custom_markdown| safe }}
            评论时间: {{ comment.date_publish | date:'Y/m/d - H:i:s' }}
            <br />
        </div>
        </div>

        {% for childc in comment.children_comment %}
            <div style="border-bottom: 1px dotted #CCC;">
            <div style="padding-left: 30px;">
            <div>
                <a href="#">{{ comment.username }} 回复：{{ childc.username }}</a>
            </div>
            {{ childc.content | custom_markdown | safe }}
            评论时间: {{ childc.date_publish | date:'Y/m/d - H:i:s' }}
            <br />

            </div>
            </div>

        {% endfor %}

        {% if comment.has_more_comment %}
            <div style="border-bottom: 1px dotted #CCC;">
            <div style="padding-left: 30px;">

            <a href="{% url 'reply_comment' %}?comment_id={{ comment.id }}&article_id={{ comment.article.id }}" >查看更多回复</a>

            </div>
            </div>
        {% endif %}

        <br/>
    {% endfor %}

    <h3>留言:</h3>
    <form action="{% url 'comment_post' %}" method="post">
        {% csrf_token %}

        <p>{{ comment_form.author }}
            <label for="author">Name (required)</label></p>

        <p>{{ comment_form.email }}
            <label for="email">Email (Will NOT be published) (required)</label></p>

        <p>{{ comment_form.url }}
            <label for="url">URL</label></p>


        <p>{{ comment_form.comment }}</p>

        <p>
            {#   隐藏属性     #}
            {{ comment_form.article }}

            {{ comment_form.pid }}
            <input type="submit" value=" 提交 " class="input-submit">
        </p>
    </form>

</div>

</div>

{#{% include 'footer.html' %}#}
{% endblock %}