<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="description" content="[HERE PASTE YOUR DESCRIPTION]" />
	<meta name="author" content="Template:TemplatesDock " />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/skin.css" />
	<script type="text/javascript" src="javascript/cufon-yui.js"></script>
	
	<script type="text/javascript">Cufon.replace('h1, h2, h3, h4, h5, h6', {hover:true});</script>	
	<title>PHP BlogSystem</title>
</head>

<body>

<div class="main">

	<!-- HEADER -->
	<div id="header" class="box">

		<h1 id="logo">PHP<span> BlogSystem</span></h1>

		<!-- NAVIGATION -->
		<ul id="nav">
			<li ><a href="#">首页</a></li>
			<li><a href="#">我的博客</a></li>
			<li class="current"><a href="#">登录/注册</a></li>
		</ul>
		
	</div> <!-- /header -->
	
	<div id="section" class="box">

		<!-- CONTENT -->
		<div id="content">
			<div style="margin:50px 0px 50px 90px">
				<h2>登 录</h2>
				<form action="#" method="post" class="form">
					<ul>
						<li>
							<label for="input-01">用户名</label>
							<input type="text" size="45" class="input-text" id="input-01" name="" />
						</li>
						
						<li>
							<label for="input-03">密码</label>
							<input type="password" size="45" class="input-text" id="input-03" name="" />
						</li>
						
						<li><input type="submit" value=" 提交 " class="input-submit"  /></li>
						<a href="#">没有账号去注册</a>
					</ul>
				</form>
			</div>
		</div> 

		<!-- SIDEBAR -->
		<div id="aside">

			<!-- SIDEBAR MENU -->
			<h3 class="nomb">名人推荐</h3>
			
			<ul class="sponsors">
				<li>
					<a href="#">Black</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑
				</li>
				<li>
					<a href="#">TemplatesDock</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大
					
				</li>
				<li>
					<a href="#">AppsTemplates</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大
				</li>
				<li>
					<a href="#">AdminSquare</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大
				</li>	
			</ul>			
		
		</div> <!-- /aside -->

	</div> <!-- /section -->

</div> <!-- /main -->	
	
<!-- FOOTER -->
<div id="footer">

	<div class="main box">
		<p class="f-right t-right"> 联系我们 | 招聘信息 | 网站律师  使用须知</p>
		<p class="f-left">Copyright &copy;&nbsp;2015 <a href="http://www.maiziedu.com/">麦子学院</a></p>
	</div> 

</div> <!-- /footer -->



</body>
</html>
