<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="content-language" content="en" />
	<meta name="description" content="[HERE PASTE YOUR DESCRIPTION]" />
	<meta name="author" content="Template:TemplatesDock " />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/main.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="css/skin.css" />
	<script type="text/javascript" src="javascript/cufon-yui.js"></script>
	
	<script type="text/javascript">Cufon.replace('h1, h2, h3, h4, h5, h6', {hover:true});</script>	
	<title>PHP BlogSystem</title>
</head>

<body>

<div class="main">

	<!-- HEADER -->
	<div id="header" class="box">

		<h1 id="logo">PHP<span> BlogSystem</span></h1>

		<!-- NAVIGATION -->
		<ul id="nav">
			<li><a href="#">首页</a></li>
			<li><a href="#">我的博客</a></li>
			<li class="current"><a href="#">登录/注册</a></li>
		</ul>
		
	</div> <!-- /header -->
	<!-- COLUMNS -->
	<div id="section" class="box">

		<!-- CONTENT -->
		<div id="content">
			<div style="margin:10px 0px 50px 120px">
				<h2>注 册</h2>
				<form action="#" method="post" class="form">
					<ul>
						<li>
							<label >用户名<font color="red"> *请用邮箱注册</font></label>
							<input type="text" size="45" class="input-text" name="" />
							<font color="red"> *请用邮箱注册</font>
						</li>
						
						<li>
							<label >密码 </label>
							<input type="password" size="45" class="input-text"  name="" />
						</li>
						<li>
							<label>再次输入密码 </label>
							<input type="password" size="45" class="input-text"  name="" />
						</li>

						<li>
							<label >昵称<font color="red"> *2-6个汉字</font></label>
							<input type="text" size="45" class="input-text"  name="" />
						</li>
						<li>
							<label >个人简介<font color="red"> *最多30个汉字</font></label>
							<textarea cols="47" rows="2" class="input-text"  name=""></textarea>
						</li>
						
						<li><input type="submit" value=" 提交 " class="input-submit" /></li>
					</ul>
				</form>
			</div>
		</div> <!-- /content -->

		<!-- SIDEBAR -->
		<div id="aside">

			<!-- SIDEBAR MENU -->
			<h3 class="nomb">名人推荐</h3>
			
			<ul class="sponsors">
				<li>
					<a href="#">Black</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑
				</li>
				<li>
					<a href="#">TemplatesDock</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大
					
				</li>
				<li>
					<a href="#">AppsTemplates</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大
				</li>
				<li>
					<a href="#">AdminSquare</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大
				</li>	
			</ul>			
		
		</div> <!-- /aside -->

	</div> <!-- /section -->

</div> <!-- /main -->	
	
<!-- FOOTER -->
<div id="footer">

	<div class="main box">
		<p class="f-right t-right"> 联系我们 | 招聘信息 | 网站律师  使用须知</p>
		<p class="f-left">Copyright &copy;&nbsp;2015 <a href="http://www.maiziedu.com/">麦子学院</a></p>
	</div> 

</div> <!-- /footer -->



</body>
</html>
