{% include 'header.html' %}

<div id="section" class="box">

		<!-- CONTENT -->
		<div id="content">
			<div style="margin:10px 0px 50px 120px">
				<h2>注 册</h2>
				<form action="#" method="post" class="form">
					<ul>
						<li>
							<label >用户名<font color="red"> *请用邮箱注册</font></label>
							<input type="text" size="45" class="input-text" name="" />
							<font color="red"> *请用邮箱注册</font>
						</li>

						<li>
							<label >密码 </label>
							<input type="password" size="45" class="input-text"  name="" />
						</li>
						<li>
							<label>再次输入密码 </label>
							<input type="password" size="45" class="input-text"  name="" />
						</li>

						<li>
							<label >昵称<font color="red"> *2-6个汉字</font></label>
							<input type="text" size="45" class="input-text"  name="" />
						</li>
						<li>
							<label >个人简介<font color="red"> *最多30个汉字</font></label>
							<textarea cols="47" rows="2" class="input-text"  name=""></textarea>
						</li>

						<li><input type="submit" value=" 提交 " class="input-submit" /></li>
					</ul>
				</form>
			</div>
		</div> <!-- /content -->

		<!-- SIDEBAR -->
		<div id="aside">

			<!-- SIDEBAR MENU -->
			<h3 class="nomb">名人推荐</h3>

			<ul class="sponsors">
				<li>
					<a href="#">Black</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑
				</li>
				<li>
					<a href="#">TemplatesDock</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大

				</li>
				<li>
					<a href="#">AppsTemplates</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大
				</li>
				<li>
					<a href="#">AdminSquare</a><br />
					我的风景啊吧付款即可不急哈是丢噶空间吧可是记得把电脑撒大大大
				</li>
			</ul>

		</div> <!-- /aside -->

	</div> <!-- /section -->

{% include 'footer.html' %}